<%= @headers %>

<html>
<div style="padding-left: 20px; padding-top:10px;">
  <img src="http://stanfordmatch14.herokuapp.com/img/logo.png" width="200px" />
</div>

<div style="width: 80%; margin-left: 10%; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <div style="font-size: 21px; font-weight: 200; line-height: 30px;">
    <p>
      Hey there!
    </p>

    <p>
      Whether it was a long shot, or something you've known all along, it looks like there was something between you and <span style="color: #a11; font-size: 28px; font-weight: 500;"><%= @from_name %></span> that caused you to list each other as crushes!
    </p>

    <p>
      Now the ball's in your court. Go out for coffee, take one last walk around Lake Lag, maybe even invite your match to sit with you at Senior Dinner on the Quad. Whatever you decide, make the most of your remaining days on the Farm. Enjoy yourselves!
    </p>
  </div>

  <div style="padding-left: 20px; padding-bottom: 20px; color: #999;">
    Good luck and best wishes,
    <div style="display: block; padding-left: 20px; padding-top: 10px;">
      The MatchFOURTEEN team.
    </div>
  </div>
</div>
</html>