<div class="row">
  <img src="/img/logo.png" width="200px" />
  <div style="display: inline-block; float: right; padding-top:30px;" class="lead">
    <%= link_to "Home", :action => :show %>
  </div>
</div>

<div class="row">
  <h2>Frequently Asked Questions</h2>
  <div class="well">
    <p>
      Q: Will anyone I list as a crush be able to see that I did so?<br />
      A: No. Unless that person has ranked you as well, they will never see that you listed them
    </p>

    <p>
      Q: Can anyone on the MatchFOURTEEN Team see who I've listed as my crushes?<br />
      A: No. We've created a system that automatically performs matches for you. No one will ever be able to see your list besides you! After match emails are automatically sent out, the entire database self destructs (we're not kidding, it's programmed in to do so #csmagic)
    </p>

    <p>
      Q: How will I know if someone has crushed me?<br />
      A: You'll get an email notification if at least one person has listed you. However, that person's name will not be revealed. Names are only revealed if there is a mutual match.
    </p>

    <p>
      Q: How do I get in touch with the person once there's a match?<br />
      A: We'll provide you with the name and the rest is up to you! Most email addresses are available on stanfordwho.stanford.edu. Or just strike up a conversation with them! Sorry we didn't have time to build date planning into the system as well but we're sure you're more than capable
    </p>

    <p>
      Q: Do I have to hook up with someone if we match?<br />
      A: No, of course not. Do what you please. Keep it as casual or as seductive as you'd like. All this is is a chance for you to find out if someone you're interested in has any interest back. Take it from there.
    </p>

    <p>
      Q: What is this ranking system? Does the rank I give someone / they give me matter?<br />
      A: No. Ranking does not matter at all. Just list 14 people you'd be stoked to find out are interested in you. If you list someone in your top 14 and they list you somewhere in their top 14, you'll get a match email when results are released. Both of you will never know what rank you gave each other relative to your other matches. Ranking is just for you to make it easier to think about who your top 14 is.
    </p>

    <p>
      Q: What if I have more than one match?<br />
      A: Well then, aren't you a lucky duck? #firstworldmatchproblems
    </p>
  </div>
</div>