<div class="row">
  <img src="/img/logo.png" width="200px" />
  <div style="display: inline-block; float: right; padding-top:30px;" class="lead">
    <%= link_to "Home", :action => :show %>
  </div>
</div>

<div class="row">
  <h2>Frequently Asked Questions</h2>
  <div class="well">
    <p>
      Q: Will anyone I list as a crush be able to see that I did so?<br />
      A: No. Unless that person has ranked you as well, they will never see that you listed them
    </p>

    <p>
      Q: Can anyone on the matchTHIRTEEN Team see who I've listed as my crushes?<br />
      A: No. We've created a system that automatically performs matches for you. No one will ever be able to see your list besides you!
    </p>

    <p>
      Q: How will I know if someone has crushed me?<br />
      A: You'll get one email notification each day (M, T, W) if one or more people have listed you earlier on that particular day. However, that person's name will not be revealed. Names are only revealed if there is a mutual match.
    </p>

    <p>
      Q: How do I get in touch with the person once there's a match?<br />
      A: We'll provide you with the name and the rest is up to you! Most email addresses are available on stanfordwho.stanford.edu, but why not just strike up a conversation?
    </p>

    <p>
      Q: What if I have more than one match?<br />
      A: Well then, aren't you a lucky duck? #firstworldmatchproblems
    </p>
  </div>
</div>