<div class="row">
  <img src="/img/logo.png" width="400px" />
</div>

<div class="row">
  <div class="span10 offset1">
    <p class="lead">
      Hey there, welcome to MatchTHIRTEEN! If you're a member of the Stanford class of 2013, then you already know why you're here, so what are you waiting for? Log in below!
    </p>
  </div>
</div>

<div class="row" style="padding-bottom: 20px;">
  <p class="text-center">
    <%= link_to "Log In", @wa_url, :class => "btn btn-primary btn-large" %>
  </p>
</div>