<div class="row">
  <img src="/img/logo.png" width="400px" />
</div>

<div class="row">
  <div class="span10 offset1">
    <p class="lead">
      Uh oh, it looks like we don't have your SUID in our database!
    </p>

    <p class="lead">
      If you are actually a member of the Stanford class of 2013, and you think this is an error, please send an e-mail to matchthirteen@gmail.com and we'll help you out.
    </p>
  </div>
</div>