<div style="display:block;margin-left:auto;margin-right:auto;padding-left: 20px; padding-top:10px;">
    <img src="/img/logo.png" width="400px" style="display:block;margin:auto"/>
</div>

<div class="row">
  <div class="span10 offset1">
    <p class="lead">
      Hey there, <%= @user.firstname %>! Guess what, you're about to graduate! You've been at this school for four long years. You've accomplished great things, some big, some small. And while you've been at it, you've been surrounded by some of the most amazing people on the planet: your fellow Stanford students in the great Class of 2014. We're sure there are at least a few of them you've had your eye on as a potential fling...maybe even fourteen of them... 
    </p>

    <p class="lead">
      Luckily, we're here to help! Remember those crushes you had? That cutie in your IHUM section? That special someone across the hall in your dorm? The one you never had a chance to talk to? We're here to give you one last chance! You might as well go for it and participate; there's really nothing to lose at this point.
    </p>

    <p class="lead">
      So here's how it works: you make a list of the <%= @limit %> people you wish you'd had a chance with, and the system will do the rest! Don't worry, your choices will be kept secret (even from us), unless it's mutual. And if it is, only you and your match will know.
    </p>
  </div>
</div>

<div class="row" style="padding-bottom: 20px;">
  <h3 class="text-center">So, what are you waiting for?!</h3>

  <p class="text-center">
    <%= link_to "Continue", { :action => :show }, :class => "btn btn-primary btn-large" %>
  </p>
</div>